$app-background: black;
$app-child-background: white;
$shader: rgba(185, 185, 185, 0.1);
$list-row-even: rgba(246, 246, 245, 1);
$list-row-odd: rgba(251, 251, 251, 1);
$header-background: rgba(51, 51, 51, 1);
$header-color: white;
