@import '~src/styles/colors';

:host {
  display: block;
  app-movie-item {
    &:nth-child(even) {
      background-color: $list-row-even;
    }
    &:nth-child(odd) {
      background-color: $list-row-odd;
    }
  }
}
